
@{
    Layout = null;
}

<div class="breadcrumb-shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pd5">
                <ol class="breadcrumb breadcrumb-arrows">
                    <li>
                        @Html.ActionLink("Trang chủ", "Index", "Home")
                    </li>
                    <li>
                        <span><span style="color: #777777">@ViewBag.Title</span></span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>