@{
    Layout = null;
}

<div id="cart" uk-offcanvas="flip: true; overlay: true">
    <div class="uk-offcanvas-bar" style="background: white; width: 350px;">
        <button class="uk-offcanvas-close" style="color:#272727" type="button" uk-close></button>
        <h3 style="font-size: 14px; color: #272727; text-transform: uppercase; margin: 3px 0 30px 0; font-weight: 500; letter-spacing: 2px;">
            Giỏ hàng
        </h3>
        <div class="site-nav-container-last" style="color:#272727">
            <div class="cart-view clearfix">
                <table id="cart-view">
                    <tbody>
                        <tr class="item_1">
                            <td class="img">
                                <a href="" title="Nike Air Max 90 Essential &quot;Grape&quot;">
                                    <img src="@Href("~/Images/shoes/1.jpg")" alt="/products/nike-air-max-90-essential-grape">
                                </a>
                            </td>
                            <td>
                                <a class="pro-title-view" style="color: #272727" href=""
                                   title="Nike Air Max 90 Essential &quot;Grape&quot;">Nike Air Max 90 Essential "Grape"</a>
                                <span class="variant">Tím / 36</span>
                                <span class="pro-quantity-view">1</span>
                                <span class="pro-price-view">4,800,000₫</span>
                                <span class="remove_link remove-cart">
                                    <a href="">
                                        <i style="color: #272727;" class="fas fa-times"></i>
                                    </a>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <span class="line"></span>
                <table class="table-total">
                    <tbody>
                        <tr>
                            <td class="text-left">TỔNG TIỀN:</td>
                            <td class="text-right" id="total-view-cart">4,800,000₫</td>
                        </tr>
                        <tr>
                            <td class="distance-td"><a href="" class="linktocart button dark">Xem giỏ hàng</a></td>
                            <td><a href="" class="linktocheckout button dark">Thanh toán</a></td>
                        </tr>
                    </tbody>
                </table>
                <a href="" target="_blank" class="button btn-check" style="text-decoration:none;">
                    <span>
                        Click nhận mã giảm giá ngay!
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
