@{
    Layout = null;
}

<footer class="main-footer">
    <div class="container">
        <div class="">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="footer-col footer-block pl-0">
                        <h4 class="footer-title" style="padding-left: 15px;">
                            Giới thiệu
                        </h4>
                        <div class="footer-content">
                            <p>
                                Runner Inn trang mua sắm trực tuyến của thương hiệu giày, thời trang nam, nữ, phụ kiện, giúp bạn
                                tiếp
                                cận xu hướng thời trang mới nhất.
                            </p>
                            <div class="logo-footer">
                                <img src="@Href("~/Images/logo-bct.png")" alt="Bộ Công Thương">
                            </div>
                            <div class="social-list">
                                <a href="#" class="fab fa-facebook"></a>
                                <a href="#" class="fab fa-google"></a>
                                <a href="#" class="fab fa-twitter"></a>
                                <a href="#" class="fab fa-youtube"></a>
                                <a href="#" class="fab fa-skype"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="footer-col footer-link">
                        <h4 class="footer-title">
                            PHÁP LÝ &amp; CÂU HỎI
                        </h4>
                        <div class="footer-content toggle-footer">
                            <ul class="pl-0">
                                <li class="item">
                                    <a href="#" title="Tìm kiếm">Tìm kiếm</a>
                                </li>
                                <li class="item">
                                    <a href="#" title="Giới thiệu">Giới thiệu</a>
                                </li>
                                <li class="item">
                                    <a href="#" title="Chính sách đổi trả">Chính sách đổi trả</a>
                                </li>
                                <li class="item">
                                    <a href="#" title="Chính sách bảo mật">Chính sách bảo mật</a>
                                </li>
                                <li class="item">
                                    <a href="#" title="Điều khoản dịch vụ">Điều khoản dịch vụ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="footer-col footer-block">
                        <h4 class="footer-title">
                            Thông tin liên hệ
                        </h4>
                        <div class="footer-content toggle-footer">
                            <ul class="pl-0">
                                <li><span>Địa chỉ:</span>Số 15 Đường 185, phường Phước Long B, Thành phố Thủ Đức</li>
                                <li><span>Điện thoại:</span>(+84) 036 339 7269</li>
                                <li><span>Fax:</span>+84 (028) 38800659</li>
                                <li><span>Mail:</span>Doanthikimoanh2016@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="footer-col footer-block pl-0">
                        <h4 class="footer-title" style="padding-left: 15px;">
                            FANPAGE
                        </h4>
                        <div class="footer-content">
                            Doan Kim Oanh
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-footer--copyright">
        <div class="container">
            <hr>
            <div class="main-footer--border" style="text-align:center;padding-bottom: 15px;">
                <p>
                    Copyright © @DateTime.Now.Year <a href="#">Runner Inn</a>.
                    Power by <strong>KimOanh</strong>
                </p>
            </div>
        </div>
    </div>
</footer>