@{
    Layout = null;
}
<section class="section section-collection">
    <div class="content">
        <div class="container">
            <div class="hot_sp" style="padding-bottom: 10px;">
                <h2 style="text-align:center;padding-top: 10px">
                    <a style="font-size: 28px;color: black;text-decoration: none" href="">
                        @ViewData["product_type"]
                    </a>
                </h2>
                <div class="view-all" style="text-align:center;padding-top: -10px;">
                    <a style="color: black;text-decoration: none" href="">Xem thêm</a>
                </div>
            </div>
        </div>
        <!--Product-->
        <div class="container" style="padding-bottom: 50px;">
            <div class="row list-product">
                @{
                    for (int i = 1; i < 9; i++)
                    {
                        <div class="col-md-3 col-sm-6 col-xs-6 col-6">
                            @Html.Partial(
                                "~/Views/Home/Layouts/Product.cshtml",
                                new ViewDataDictionary { }
                            )
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>