@{
    Layout = null;
}

<div class="product-block">
    <div class="product-img fade-box">
        <a href="#" title="Adidas EQT Cushion ADV" class="img-resize">
            <img src="@Href("~/Images/shoes/AdidasEQTCushionADV-1.jpg")" alt="Adidas EQT Cushion ADV" class="lazyloaded">
            <img src="@Href("~/Images/shoes/AdidasEQTCushionADV-2.jpg")" alt="Adidas EQT Cushion ADV" class="lazyloaded">
        </a>
    </div>
    <div class="product-detail clearfix">
        <div class="pro-text">
            <a style=" color: black; font-size: 14px;text-decoration: none;" href="#"
                title="Adidas EQT Cushion ADV" inspiration pack>
                Adidas EQT Cushion ADV "North America"
            </a>
        </div>
        <div class="pro-price">
            <p class="">7,000,000₫</p>
        </div>
    </div>
</div>
