@{
    Layout = null;
}

<div class="col-md-3 col-sm-12 col-xs-12 sidebar-fix">
    <div class="wrap-filter">
        <div class="box_sidebar">
            <div class="block left-module">
                <div class=" filter_xs">
                    <div class="layered">
                        <p class="title_block d-block d-sm-none d-none d-sm-block d-md-none" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
                            Bộ lọc sản phẩm
                            <span>
                                <i class="fa fa-angle-down" data-toggle="collapse"
                                   href="#collapseExample2" role="button" aria-aria-controls="collapseExample2"></i>
                            </span>
                        </p>
                        <div class="block_content collapse" id="collapseExample2">
                            <div class="group-filter card card-body" style="border:0;padding:0" aria-expanded="true">
                                <div class="layered_subtitle dropdown-filter">
                                    <span>Thương hiệu</span>
                                    <span class="icon-control">
                                        <i class="fa fa-minus"></i>
                                    </span>
                                </div>
                                <div class="layered-content bl-filter filter-brand">
                                    <ul class="check-box-list">
                                        <li>
                                            <input type="checkbox" id="data-brand-p1" value="Khác">
                                            <label for="data-brand-p1">Khác</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="group-filter" aria-expanded="true">
                                <div class="layered_subtitle dropdown-filter">
                                    <span>Giá sản phẩm</span>
                                    <span class="icon-control">
                                        <i class="fa fa-minus"></i>
                                    </span>
                                </div>
                                <div class="layered-content bl-filter filter-price">
                                    <ul class="check-box-list">
                                        <li>
                                            <input type="checkbox" id="p1">
                                            <label for="p1">
                                                <span>Dưới</span> 500,000₫
                                            </label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="p2">
                                            <label for="p2">
                                                500,000₫ - 1,000,000₫
                                            </label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="p3">
                                            <label for="p3">
                                                1,000,000₫ - 1,500,000₫
                                            </label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="p4">
                                            <label for="p4">
                                                2,000,000₫ - 5,000,000₫
                                            </label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="p5">
                                            <label for="p5">
                                                <span>Trên</span> 5,000,000₫
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="group-filter" aria-expanded="true">
                                <div class="layered_subtitle dropdown-filter">
                                    <span>Màu sắc</span>
                                    <span class="icon-control">
                                        <i class="fa fa-minus"></i>
                                    </span>
                                </div>
                                <div class="layered-content filter-color s-filter">
                                    <ul class="check-box-list">
                                        <li>
                                            <input type="checkbox" id="data-color-p1">
                                            <label for="data-color-p1" style="background-color: #fb4727"></label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="group-filter" aria-expanded="true">
                                <div class="layered_subtitle dropdown-filter">
                                    <span>Kích thước</span>
                                    <span class="icon-control">
                                        <i class="fa fa-minus"></i>
                                    </span>
                                </div>
                                <div class="layered-content filter-size s-filter">
                                    <ul class="check-box-list clearfix">
                                        <li>
                                            <input type="checkbox" id="data-size-p1">
                                            <label for="data-size-p1">35</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

