@{
    Layout = null;
}

<article class="blog-loop">
    <div class="blog-post row">
        <div class="col-md-4 col-xs-12 col-sm-12">
            <a href="detailblog.html" class="blog-post-thumbnail" title="Adidas Falcon nổi bật mùa Hè với phối màu color block" rel="nofollow">
                <img src="@Href("~/Images/blog/n-1.jpg")" alt="Adidas Falcon nổi bật mùa Hè với phối màu color block">
            </a>
        </div>
        <div class="col-md-8 col-xs-12 col-sm-12">
            <h3 class="blog-post-title">
                <a href="detailblog.html" title="Adidas Falcon nổi bật mùa Hè với phối màu color block">Adidas Falcon nổi bật mùa Hè với phối màu color block</a>
            </h3>
            <div class="blog-post-meta">
                <span class="author vcard">Người viết: Huni</span>
                <span class="date">
                    <time pubdate="" datetime="2019-06-11">11.06.2019</time>
                </span>
            </div>
            <p class="entry-content">Cuối tháng 5, adidas Falcon đã cho ra mắt nhiều phối màu đón chào mùa Hè khiến giới trẻ yêu thích không thôi. Tưởng chừng...</p>
        </div>
    </div>
</article>
