@{
    ViewBag.Title = "Tin tức";
}

<!--Banner-->
<div>
    <div>
        <img src="@Href("~/Images/collection_banner.jpg")" alt="Products">
    </div>
</div>

<!-- Breadcrumb -->
@Html.Partial(
        "~/Views/Shared/Pages/Breadcrumb.cshtml",
        new ViewDataDictionary { }
)

<!-- Blog -->
<div class="container">
    <div class="row">
        <!-- Sidebar Blog -->
        @Html.Partial(
            "~/Views/Blog/Layouts/Sidebar.cshtml",
            new ViewDataDictionary { }
        )

        <!-- Main Blog -->
        @Html.Partial(
            "~/Views/Blog/Layouts/Main.cshtml",
            new ViewDataDictionary { }
        )
    </div>
</div>

